.col1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.col1-item {
  border: 1px black solid;
  width: 30px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spcl-back {
  border: 1px black solid;
  width: 55px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spcl-entr {
  border: 1px black solid;
  width: 55px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
