.heading-name {
  text-align: center;
}

.box-cont {
  display: flex;
  margin-top: 10px;
}

.shake {
  animation: shakes 0.2s ease-in-out 0s 2;
}

@keyframes shakes {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.box-empty {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
}

.box-yellow {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  background-color: rgb(155, 155, 49);
}

.box-green {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  background-color: green;
}

.box-full1 {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  transform: scale(1.15);
  transition: transform 0.2s;
}

.box-full2 {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  transform: scale(1.15);
  transition: transform 0.2s;
}

.box-full3 {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  transform: scale(1.15);
  transition: transform 0.2s;
}

.box-full4 {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  transform: scale(1.15);
  transition: transform 0.2s;
}

.box-full5 {
  border: solid rgb(207, 202, 202) 2px;
  height: 50px;
  width: 50px;
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
  transform: scale(1.15);
  transition: transform 0.2s;
}

.main-ovly {
  background-color: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  box-shadow: 5px 5px 50px grey;
}

@media (width > 600px) {
  .main-ovly {
    width: 30%;
    height: 80%;
  }
}

@media (width <= 600px) {
  .main-ovly {
    width: 80%;
    height: 80%;
  }
}

@media (height < 756px) {
  .main-ovly {
    height: auto;
  }
}
