.result-main {
  display: grid;
}

.result-head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 35px;
  margin-bottom: 0px;
}

.result-word {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 2 5px;
}

.result-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin: 0;
}

.result-box {
  border: 2px green solid;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  margin-top: 20px;
}

.result-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

.result-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.detail-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 3px;
  margin-right: 3px;
}

.detail-num {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.detail-text {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.graph-main {
  margin-left: 50px;
  margin-top: 35px;
}

.graph-item {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}

.graph-num {
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

progress {
  border-radius: 555px;
  width: 80%;
  height: 15px;
  /* box-shadow: 1px 1px; */
}
progress::-webkit-progress-bar {
  background-color: white;
}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 7px;
}

.play-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  margin-top: 10px;
  font-weight: 800;
}

.play-sec {
  cursor: pointer;
}
