.main {
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.main-div {
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-event {
  outline: none;
  width: 100%;
}
